
<div class="text-container"> 
  <h2>Bitlist.io</h2>
  <span class="label label-info">Beta Version 1.0</span>
  <hr>

  <p>
    <i><b>B</b>asic <b>I</b>mpermament <b>T</b>odo <b>L</b>ist</i>
  </p>

  <p>
    BitList is a 3-week project I worked on in June 2014 while learning how to code at <a href="http://www.bloc.io" target="_blank">Bloic.io</a>. 
  </p>

  <p class="text-danger">
    The app is a demo and <b>should not be</b> used to hold personal or sensitive information.
  </p> 

  <p>
      However, feel free to sign up and have a play around to see how it works. 
      Below are some of the key features (as well as those I never had time to code.)
  </p>


  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-pencil"> </span>
      Create todos, amend, delete or mark as done.
    </li>
  <li class="list-group-item list-group-item-info">
    <span class="glyphicon glyphicon-user"> </span>
    Facebook, Twitter, or Email and Password Login.
  </li>
  <li class="list-group-item list-group-item-warning">
    <i class="fa fa-cog fa-spin"></i>
    Todo items expire automatically - Incomplete.
  </li>
  <li class="list-group-item list-group-item-danger">
    <i class="fa fa-cog fa-spin"></i>
    Email user when todo item is nearly due - Yet to code.
  </li>
  </ul>


  

</div>
