
<br>
<blockquote>
  <p class="text-info">Amend Your Todo Item Below</p>
</blockquote>
<br>
<!-- Enter todo item - form -->
<%= form_for @todo, :url => { :action => "update" } do |f| %>
  
  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :description, :autocomplete => :off, :maxlength => "70", class: 'form-control', placeholder: "Enter amended todo item here..." %>
      <span class="input-group-btn">
        <%= f.submit "Update", class: "btn btn-default" %>
      </span>
    </div> 
  </div>    
<% end %>

<div id="counter" class="counter-amend-page">
  <p class="text-muted">70 characters left</p>
</div>

<!-- Delete Post Button -->
<%= link_to "Delete Todo", @todo, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this todo item?'} %>
<!-- End of Delete Post Button -->



<!-- script for char count down -->
<script>
  $(document).ready(function() {
    $("#todo_description").keyup(function() {
      var counter = $("#counter");
      var charsRemaining = 70 - $(this).val().length;
      counter.text(charsRemaining + " characters left");
      counter.css('color', (charsRemaining < 35) ? 'red' : 'grey');
    });
  });
</script>
<!-- END of script for char count down -->

